## Homework - Python Libraries

### Display the data

In [1]:
#1. import libraries: pandas, numpy, matplotlib.pyplot and seaborn

In [2]:
#2. Read the csv file and convert to a Pandas Dataframe assinged as "df"
data_path= "https://raw.githubusercontent.com/siglimumuni/Datasets/master/customer-data.csv"

In [3]:
#3. Return number of columns and rows in df

In [4]:
#4. Return the names of the columns of df

In [5]:
#5. Return the first and last 5 rows of df

In [6]:
#6. Return the names of the columns with their data types and number of non-null values using info()

In [7]:
#7. Return the details of df -skip this quest

In [8]:
#8. Return summary statistic for the "credit_score" column

In [9]:
#9. Update the name of a column called "postal_code" as "postcode"

In [10]:
#10. Save df as csv file in your repository

### Prepare Data
Before any analysis you should check the dataset for missing or null values. isna() method checks if the field is null and return as True or False. Grouping nulls per column, you can use sum() method.

In [11]:
#11. Display the number of missing values per column 
#hint: df.isna().sum()

Once you know the nulls in your dataset, you have two options either exclude those rows from your analysis or replace missing values with new value.

In [12]:
#12. Delete the rows that contains null field. 
#Hint: dropna()

One of the simplest methods is by replacing the null values in each column with the column mean or mode.

In [16]:
#Do this task after next lesson, there you will learn how to group data by another column
#13. Run above codes skipping number 9, and instead of deletion, for each null field in credit_score replace with average credit_score per income category
#Create a function to impute missing values based on mean credit score for each income group

In [17]:
#14. Create a new df called df1 with first 6 columns, and df2 with the rest of columns

In [18]:
#15. Drop column annual_mileage from df2

In [19]:
#16. Create subset df called subset_df for female who has working class income and has credit score above 0.45

### Visualization
Use "df" dataframe for the below visualization

In [20]:
#16. Create a countplot to visualize the count of each category in the gender column. Use seaborn countplot() method

In [21]:
#17. Create a pie chart that shows number of rows by income group if you can show in chart the ratio not the total number of rows.  Give a name to the chart, play with figure size and use nice color pallette

In [22]:
#18. Create chart to visualize the count of each category in education column. Use seaborn countplot

In [ ]:
#18b. Create a chart visualize Average Credit Score per Education Level. Use seaborn barplot

In [23]:
#19. Create a histogram for annual_mileage column , set bins to 20, give a name to the chart and to the y label. Use seaborn histplot()

In [24]:
#20. Create a scatter plot to show relation between "annual_mileage" and "speeding_violations". Use scatter from matplotlib

In [25]:
#21. Create a boxplot for credit_score per education level. And compare dispersion. Use seaborn boxplot. Repeat it with different columns; select one categorical one numerical column. eg. credit score vs income

In [26]:
#22. Create a histogram for credit score per outcome. Use seaborn histplot Hint: x="credit_score", hue="outcome" , element="step", stat="density"

In [27]:
#Bonus
#Create 2 subplots one for education one for income categories and both shows average credit_score. Use for loop to iterate education and income columns.

In [ ]:
#you can try any other plot with any column you wish for visualization